target
target/*
node_modules
node_modules/*
build/server
build/server/*
build/public
build/public/*
build/cdn
build/cdn/*
logs
logs/*
.idea
.idea/*
*.classpath
*.project
*.iml
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
coverage/
run/
.DS_Store
*.swp

